<%- include('./partials/head') %>
    <title>Index</title>
    <%- include('./partials/header') %>
        <div class="main">
            <div class="container">
                <h1 class="main-title">
                    <%= message %>
                </h1>
                <figure class="error404">
                    <img src="/img/_8772cf0a-8869-4e52-bdfb-6a0ee0b7797c.jpg" alt="">
                    <figcaption>
                        <span class="hide">error 404</span>
                    </figcaption>
                </figure>
            </div>
        </div>
        
        <%- include('./partials/footer') %>